@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"), url("./assets/fonts/SpaceGrotesk.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #212121;
  box-sizing: border-box;
  font-family: "SpaceGrotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#root {
  width: 100%;
  min-height: 100vh;
}
